singularity.enabled = true
singularity.autoMounts = true

process{
    container = "$HOME/genokmer_0.1.sif"
	withName: jellyfish {
    	cpus = 12
   		memory = '6 GB'
	}
}


profiles {

    standard {
        process.executor = 'local'
    }

    farm {
        process.executor = 'lsf'
        executor.perJobMemLimit = true
        process {
        	queue = 'small'
        	memory = '1GB'
        	withName: jellyfish {queue = 'normal'}
        }
    }

}